<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="撲克牌,紀念牌,魔術,找。牌,找牌">
    <meta name="description" content="《找。牌》是由曾榮獲韓國蔚山魔術特別獎的林店長所創辦的牌店，專注於提供各位魔術師高品質的撲克牌，每副牌皆以最高標準把關，從印刷到噴墨從未鬆懈一絲一毫。">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>找。牌</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <meta property="og:title" content="找。牌">
    <meta property="og:description" content="《找。牌》是由曾榮獲韓國蔚山魔術特別獎的林店長所創辦的牌店，專注於提供各位魔術師高品質的撲克牌，每副牌皆以最高標準把關，從印刷到噴墨從未鬆懈一絲一毫。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://linchinhsuan.github.io/findcard/dist/#/">
    <meta property="og:image" content="<%= BASE_URL %>favicon.ico">
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>

